<div class="bg-primary-200 d-flex jc-c ai-c py-24">
    <p class="h4 h5-sm me-24 me-sm-16">加入會員取得 9 折優惠</p>
    <button type="button" class="btn btn-dark">馬上註冊</button>
</div>

<footer>
    <nav class="bg-neutral-100 py-64">
        <div class="container section-line">
            <ul class="d-flex d-sm-block ai-c mb-24">
                <li class="me-auto  me-sm-0 pb-sm-16 mb-sm-8"><a href="index.html"><img src="/assets/images/logo.png" alt="logo"></a></li>
                <li class="me-40 me-sm-0 pb-sm-16 px-sm-12 mb-sm-4"><a href="product-list-page.html">品牌列表</a></li>
                <li class="px-sm-12 pb-sm-16 "><a href="story.html">品牌故事</a></li>
            </ul>
        </div>
        <div class="container copyright pt-32">
            <p class="text-sm text-neutral-600 mb-4">Copyright ©2025 URBNSTYLE</p>
            <p class="text-sm text-neutral-600">All Rights Reserved.</p>
        </div>
    </nav>
</footer>