<nav class="container py-16 py-sm-12 d-flex ai-c jc-sb">
    <ul class="d-flex ai-c">
        <li>
            <a href="index.html" class="pe-48">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
        </li>
        <li class="pe-40 d-sm-none">
            <a href="product-list-page.html" class="py-12">商品列表</a>
        </li>
        <li class="d-sm-none">
            <a href="story.html" class="py-12">品牌故事</a>
        </li>
    </ul>
    <a href="#" class="py-12"><i class="bi bi-person"></i></a>
</nav>