/* 按鈕 */

.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media (max-width: 576px){
    .btn{
        padding: 8px 16px;
    }

}

.btn-dark{
    background-color: $neutral-900;
    color: $neutral-0;
}

.btn-light{
    border: 1px solid $neutral-900;
}

.btn-primary{
    background-color: $primary-300;
}