.banner-title{
  text-align: center;
}

.urbnstep-banner{
  background-image: url(/assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 400px 0; /* 使用padding/2的方式，推高圖片高度 */
  text-align: left;
  position: relative;

  .urbnstep{
    position: absolute;
    top: 289px;
    left: 200px;
  }
  .purchase{
    position: absolute;
    top:464px;
    left: 200px;
  }
}

@media(max-width: 767px){
  .urbnstep-md-banner{
    padding: auto;
    background-image: url(/assets/images/banner-sm.png);
    padding: 240px 0; /* 使用padding/2的方式，推高圖片高度 */
    text-align: left;
    position: relative;

    .urbnstep{
      position: absolute;
      top: 155px;
      left: 24px;
    }
    .purchase{
      position: absolute;
      top: 277px;
      left: 24px;
    }
  }
  .eng-title{
      font-size: 20px;
  }
}


@media (max-width: 576px){
  .mb-banner{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
  }
}

.mb-banner li{
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.mb-banner a{
  font-weight: 500;
  align-items: center;
}


.product{
  position: relative;
  .product-text{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 12px;
    background-color: $primary-100;
    font-size: 14px;
    color: $primary-400;
  }
} 

@media (max-width:767px){
  .product-md-row{
    margin-left: -8px;
    margin-right: -8px;
  }
  .product-md-col{
    min-width: 316px;
    margin-right: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}


.banner{
  text-align: center;
  background-image: url(/assets/images/banner-co-branded.png);
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .star-img{
    position: absolute;
    width: 48px;
    top: 68px;
    left: calc(50% - 397px);
  }
  .sparkle-img{
    position: absolute;
    width: 76px;
    bottom: 132px;
    right: calc(50% - 357px);
  }
}

@media (max-width: 767px){
  .banner{
    padding: 64px 0;
    background-image: url(/assets/images/banner-co-branded-sm.png);
    overflow: hidden;
  }
  .btn{
    padding: 12px 24px;
  }
  .star-img{
    top: 32px;
    left: -20px;
  }
  .sparkle-img{
    bottom: 104px;
    right:-28px;
  }
}

.category{
 position: relative;
 
 .category-text{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(black, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}

.inspiration-row{
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.inspiration-col-4{
  width: calc(100%/12*4);
  padding: 4px;
}

.inspiration-col-6{
  width: calc(100%/12*6);
  padding: 4px;
}

.inspiration-col-12{
  width: calc(100);
  padding: 4px;
}

@media (max-width:767px){
  .inspiration-row{
    flex-wrap: nowrap;
    margin: 0 -8px;
    img{
      min-width: 300px;
    }
  }
  .inspiration-col-4,
  .inspiration-col-6,
  .inspiration-col-12{
    width: unset;
    padding: 0 8px;
  }

}