/* 通用樣式 */

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right:12px;
}

/* 通用樣式-欄位格線樣式 */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
/* 避免在兩邊外側也出現padding的間距，所以在外層加上.row作為父層，做margin抵銷 */
}

.col-1{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12);
}

.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*2);
}

.col-3{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*3);
}

.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*4);
}

.col-5{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*5);
}

.col-6{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*6);
}

.col-7{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*7);
}

.col-8{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*8);
}

.col-9{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*9);
}

.col-10{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*10);
}

.col-11{
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*11);
}

.col-12{
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width:767px){
    .row{
        margin-left: -6px;
        margin-right: -6px;
    }
    .col-md-1{
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100%/4);
    }
    .col-md-2{
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100%/2);
    }
    .col-md-3{
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100%/3);
    }
    .col-md-4{
        padding-left: 6px;
        padding-right: 6px;
        width: 100%;
    }
    .flex-md-column{
        flex-direction: column;
    }
    .gap-md-4{
        gap: 4px;
    }
    .gap-md-8{
        gap:8px;
    }
}

@media (max-width: 767px){
    .overflow-x-md-auto{
        overflow-x: auto;
    }
    .overflow-x-md-scroll{
        overflow-x: scroll;
    }
    .overflow-x-md-hidden{
        overflow-x: hidden;
    }
}



/* 通用樣式-排版相關樣式 */
.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap; 
}

.gap-8{
    gap: 8px;
}

.jc-sb{
    justify-content: space-between;   
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}

.display-1{
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
}

.display-2{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}

.h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.h3{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

@media(max-width: 767px){
    .h1-md{
        font-size: 40px;
    }
    .h2-md{
        font-size: 32px;
    }    
    .h3-md{
        font-size: 28px;
    }
    .h4-md{
        font-size: 24px;
    }
    .h5-md{
        font-size: 20px;
    }
    .h6-md{
        font-size: 16px;
    }
}

@media(max-width: 576px){
    .h3-sm{
        font-size: 28px;
    }
    .h4-sm{
        font-size: 24px;
    }
    .h5-sm{
        font-size: 20px;
    }
    .h6-sm{
        font-size: 16px;
    }
}

.text-sm{
    font-size: 14px;
    font-weight: 400;
}

.text-lg{
    font-size: 20px;
}

@media (max-width: 767px){
    .text-md-md{
        font-size: 16px;
    }
}

/* 變數字體部分 */

.text-white{
    color: $neutral-0;
}
.text-primary-300{          
    color: $primary-300;
}

.text-primary-400{          
    color: $primary-400;
}

.text-neutral-500{
    color: $neutral-500;
}

.text-neutral-600{
    color: $neutral-600;
}

.text-danger-300{
    color: $danger-300;
}



/* 背景顏色 */

.bg-primary-100{
    background-color: $primary-100;
}

.bg-primary-200{
    background-color: $primary-200;

}
.bg-primary-300{
    background-color: $primary-300;
}

.bg-neutral-100{
    background-color: $neutral-100;
}



/* 間距 */

.p-32{
    padding: 32px;   
}
.px-24{
    padding-right: 24px;
    padding-left: 24px;
}
.pt-32{
    padding-top: 32px;
}

.pe-8{
    padding-right: 8px;
}


.pe-40{
    padding-right: 40px;
}

.pe-48{
    padding-right: 48px;
}

.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-24{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-32{
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-48{
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-64{
    padding-top: 64px;
    padding-bottom: 64px;
}

.me-auto{
    margin-right: auto;
}
.me-8{
    margin-right: 8px;
}
.me-24{
    margin-right: 24px;
}

.me-40{
    margin-right: 40px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-64{
    margin-bottom: 64px;
}


.pb-48{
    padding-bottom: 48px;
}

@media(max-width:767px){
    .p-md-24{
        padding: 24px;
    }
	.p-md-32{
	  padding: 32px;   
    }
	.pt-md-32{
       padding-top: 32px;
    }
	.pe-md-8{
        padding-right: 8px;
    }
	.pe-md-40{
        padding-right: 40px;
    }
	.pe-md-48{
        padding-right: 48px;
    }
    .py-md-0{
        padding-top: 0px;
        padding-bottom: 0%;
    }
	.py-md-8{
        padding-top: 8px;
        padding-bottom: 8px;    
    }
	.py-md-12{
        padding-top: 12px;
        padding-bottom: 12px;    
    }
    .py-md-16{    
        padding-top: 16px;
        padding-bottom: 16px;
    }
	.py-md-24{
        padding-top: 24px;
        padding-bottom: 24px;    
    }
	.py-md-32{
        padding-top: 32px;
        padding-bottom: 32px;    
    }
    .py-md-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
	.py-md-48{
        padding-top: 48px;
        padding-bottom: 48px;    
    }
	.py-md-64{
        padding-top: 64px;
        padding-bottom: 64px;    
    }
	.me-md-auto{
        margin-right: auto;
    }
	.me-md-8{
        margin-right: 8px;
    }
	.me-md-24{
        margin-right: 24px;
    }
	.me-md-40{
        margin-right: 40px;
    }
    .mb-md-0{
        margin-bottom: 0px;
    }
	.mb-md-4{
        margin-bottom: 4px;
    }
	.mb-md-8{
        margin-bottom: 8px;
    }
	.mb-md-12{
        margin-bottom: 12px;
    }
	.mb-md-16{
        margin-bottom: 16px;
    }
	.mb-md-24{
        margin-bottom: 24px;
    }
	.mb-md-32{
        margin-bottom: 32px;
    }
	.mb-md-40{
        margin-bottom: 40px;
    }
	.mb-md-48{
        margin-bottom: 48px;
    }
    .pb-md-32{
        padding-bottom: 32px;
    }
	.pb-md-48{
        padding-bottom: 48px;
    }
}
 

@media(max-width:576px){
	.p-sm-32{
	    padding: 32px;   
    }
	.pt-sm-32{
        padding-top: 32px;
    }
	.pe-sm-8{
        padding-right: 8px;
    }
	.pe-sm-40{
        padding-right: 40px;
    }
	.pe-sm-48{
        padding-right: 48px;
    }
    .px-sm-12{
        padding: 0 12px;
    }
	.py-sm-8{
        padding-top: 8px;
        padding-bottom: 8px;    
    }
	.py-sm-12{
        padding-top: 12px;
        padding-bottom: 12px;    
    }
	.py-sm-24{
        padding-top: 24px;
        padding-bottom: 24px;
    }
	.py-sm-32{
        padding-top: 32px;
        padding-bottom: 32px;    
    }
	.py-sm-48{
        padding-top: 48px;
        padding-bottom: 48px;    
    }
	.py-sm-64{
        padding-top: 64px;
        padding-bottom: 64px;    
    }
	.me-sm-auto{
        margin-right: auto;
    }
    .me-sm-0{
        margin-right: 0;
    }
	.me-sm-8{
        margin-right: 8px;
    }
	.me-sm-16{
        margin-right: 16px;
    }
	.me-sm-24{
        margin-right: 24px;
    }
	.me-sm-40{
        margin-right: 40px;
    }
	.mb-sm-4{
        margin-bottom: 4px;
    }
	.mb-sm-8{
        margin-bottom: 8px;
    }
	.mb-sm-12{
        margin-bottom: 12px;
    }
	.mb-sm-16{
        margin-bottom: 16px;
    }
	.mb-sm-24{
        margin-bottom: 24px;
    }
	.mb-sm-32{
        margin-bottom: 32px;
    }
	.mb-sm-40{
        margin-bottom: 40px;
    }
	.mb-sm-48{
        margin-bottom: 48px;
    }
    .pb-sm-16{
        padding-bottom: 16px;
    }
	.pb-sm-48{
        padding-bottom: 48px;
    }
}

.d-none{
    display: none;
}
@media(max-width: 767px){
    .d-md-none{
        display: none;
    }
}

@media(max-width: 576px){
    .d-sm-none{
        display: none;
    }
}
@media(max-width: 767px){
    .d-md-block{
        display: block;
    }
    .d-md-flex{
        display: flex;
    }
    .d-md-none{
        display: none;
    }
    .flex-md-nowrap{
        flex-wrap: nowrap;
    }
}

@media(max-width: 576px){
    .d-sm-block{
        display: block;
    }
}