<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"> 

  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <ul class="mb-banner d-none">
        <li class="bg-primary-200"><a href="product-list-page.html">商品列表</a></li>
        <li class="bg-primary-100"><a href="story.html"></a></li>
      </ul>
    </div>

    <div class="urbnstep-banner mb-64">
        <h1 class="display-1 h1-md text-white mb-16 urbnstep">URBNSTEP<br>
        <span class="eng-title mb-48">Your Step, Your Statement</span></h1>
        <button type="button" class="btn btn-primary purchase">立即選購</button>
    </div>

    <section class="mb-32">
      <div class="container">
        <div class="mb-32 banner-title">
          <h2 class="display-2">New Arrival</h2>
          <h3 class="h2">新品上市</h3>
        </div>  
        <div class="row">
          <div class="col-6">
            <img src="/assets/images/new-1.png" alt="新品上市-1" class="mb-12">
            <h4 class="h5 mb-4">Monoverse</h4>
            <p>NT$3,600</p>
          </div>
          <div class="col-6 mb-40">
            <img src="/assets/images/new-2.png" alt="新品上市-2" class="mb-12">
            <h4 class="h5 mb-4">PLATFORM 404</h4>
            <p>NT$2,600</p>
          </div>
          <div class="col-6 mb-40">
            <img src="/assets/images/new-3.png" alt="新品上市-3" class="mb-12">
            <h4 class="h5 mb-4">URBN Force</h4>
            <p>NT$3,200</p>
          </div>
          <div class="col-6">
            <img src="/assets/images/new-4.png" alt="新品上市-4" class="mb-12">
            <h4 class="h5 mb-4">Mode90</h4>
            <p>NT$4,000</p>
          </div>
        </div>  
      </div>

    <main>
      <section class="py-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16">熱銷補貨</h3>
          <div class="row flex-md-nowrap overflow-x-md-auto product-md-row">
            <div class="col-3 product-md-col">
              <div class="product">
              <span class="product-text">人氣 No.1</span>
              <img src="/assets/images/product-3.png" alt="Melty Kiss">
              </div>  
            </div>
            <div class="col-3 product-md-col">
              <div class="product">
              <span class="product-text">人氣 No.1</span>
              <img src="/assets/images/product.png" alt="PLATFORM 404">
              </div>  
            </div>
            <div class="col-3 product-md-col">
              <div class="product">
              <span class="product-text">人氣 No.1</span>
              <img src="/assets/images/product-6.png" alt="R:UNER">
              </div>  
            </div>
            <div class="col-3 product-md-col">
              <div class="product">
              <span class="product-text">人氣 No.1</span>
              <img src="/assets/images/product-4.png" alt="BOOMBLOK">
              </div>  
            </div>
          </div>
        </div>  
      </section>
      <section class="py-48 py-md-24">
        <div class="banner">
          <h3 class="display-2 h2-md text-white d-md-flex flex-md-column gap-8 mb-16">
            <span>URBNSTEP</span>
            <span class="h1 h3-md text-primary-300 px-24">x</span>
            <span>Kevin Chen</span>
          </h3>
          <h3 class="h2 h5-md text-white mb-32 mb-md-24">跨界聯名，限量發售</h3>
          <p class="text-lg text-md-md text-neutral-500 d-md-flex flex-md-column gap-md-4 mb-48">
            <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
            <span class="d-md-none">，</span>
            <span>街頭能量全面引爆！</span>
          </p>
          <button type="button" class="btn btn-primary">立即搶購</button>
        <img src="/assets/images/star.svg" alt="star" class="star-img">
        <img src="/assets/images/sparkle.svg" alt="sparkle" class="sparkle-img">
      </div>
      </section>
      <section class="py-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16">依系列選購</h3>
          <div class="row">
            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <img src="/assets/images/product-6.png" alt="URBN RUNNER
            慢跑系列">     
                <div class="category-text">
                  <h4 class="h3 h6-md mb-8">URBN RUNNER</h4>
                  <p class="h4 h6-md">慢跑系列</p>
                </div>
              </div>
            </div>

            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <img src="/assets/images/product-11.png" alt="STREETMODE
                滑板系列">     
                <div class="category-text">
                  <h4 class="h3 h6-md mb-8">USTREETMODE</h4>
                  <p class="h4 h6-md">滑板系列</p>
                </div>
              </div>
            </div>

            <div class="col-3 col-md-2">
              <div class="category">
                <img src="/assets/images/product-4.png" alt="CHUNK DISTRICT
                厚底系列">     
                <div class="category-text">
                  <h4 class="h3 h6-md mb-8">CHUNK DISTRICT</h4>
                  <p class="h4 h6-md">厚底系列</p>
                </div>
              </div>
            </div>

            <div class="col-3 col-md-2">
              <div class="category">
                <img src="/assets/images/product-3.png" alt="COLLAB ZONE
                聯名企劃">     
                <div class="category-text">
                  <h4 class="h3 h6-md mb-8">COLLAB ZONE</h4>
                  <p class="h4 h6-md">聯名系列</p>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </section>

      <section class="py-64 mb-48 mb-md-24">
        <div class="container">
          <h3 class="h2 mb-16">穿搭靈感</h3>
        <div class="inspiration-row overflow-x-md-auto">
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-1.png" alt="穿搭靈感-1">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-2.png" alt="穿搭靈感-2">
              </div>
              <div class="inspiration-col-12">
                <img src="/assets/images/inspiration-3.png" alt="穿搭靈感-3">
              </div>
            </div>
          </div>  

          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-4.png" alt="穿搭靈感-4">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-5.png" alt="穿搭靈感-5">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-6.png" alt="穿搭靈感-6">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-7.png" alt="穿搭靈感-7">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-8.png" alt="穿搭靈感-8">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-9.png" alt="穿搭靈感-9">
              </div>
            </div>  
          </div>

          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-12">
                <img src="/assets/images/inspiration-10.png" alt="穿搭靈感
                  -10">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-11.png" alt="穿搭靈感-11">
              </div>
              <div class="inspiration-col-6">
                <img src="/assets/images/inspiration-12.png" alt="穿搭靈感-12">
              </div>
            </div>
          </div>                
              

   
        </div>      
      </section>

    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
